@using ASP.Server.Model

@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste Genre";
}
<style>
    .flex-container{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #D3D3D3;
  padding: 70px;
    }
    .flex-container > div{
    height: 280px;
    width:300px;
   flex: 0 0 400px;
   margin: 1em 20px;
   border: 5px BLACK solid;
   background-color: #fffff;

    }
    img{
        height:250px;
        width:100%;
    }
   .link{
        font-size:18px;
        font-weight: bold;
        text-align:center;
    }
</style>
<div class="listeGenres">
    <h1>Liste des Genres:</h1>
   
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    <div class="flex-container">
    @foreach (var genre in Model)
    { <div>
     <img src=@(genre.Picture)>
       
       <a asp-route-id="" class="link"> @(genre.Name)</a></div>
     
    }
    </div>
</div>

